<header class="row">
  <h1>
    <%= @user.handle %>
    <small><%= pluralize(@user.points, 'points') %></small>
  </h1>
</header>

<div class="row">
  <p>I'm in Crew!</p>
</div>

<div id="badges" class="row">
  <h2>Badges</h2>
  <ul class="row">
    <%= render collection: @user.badges, partial: 'users/badge' %>
  </ul>
</div>
