<header class="row">
  <h1>
    <%= @user.handle %>
    <small><%= pluralize(@user.points, 'points') %>
  </h1>
</header>

<div class="row">
  <p>I'm in Crew!</p>
</div>

<div class="row">
  <h2>Badges</h2>
  <ul>
    <% @user.badges.each do |badge| %>
      <li><%= badge %></li>
    <% end %>
  </ul>
</div>
