<nav class="top-bar">
<ul>
  <li class="name">
    <h1><%= link_to 'CREW', root_url %></h1>
  </li>
  <li class="toggle-topbar"><a href="#"></a></li>
</ul>
<section>
<ul class="left">
  <li><a href="#">Leaderboard</a></li>
</ul>

<ul class="right">
  <li><a href="#">Login</a></li>
</ul>
</section>
</nav>
